
@{
    ViewData["Title"] = "About";
}

<div class="header-outs inner_page-banner" id="home">
    <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3 mt-5 bg-light">
            <div class="row">
                <div class="col-lg-8 col-md-6 text-right about-two-grids">
                    <h3 class="title  mb-md-4 mb-sm-3 mb-3"> About Agriculture</h3>
                    <div class="about-para-txt">
                        <p>sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing</p>
                        <p class="mt-2">sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing sed do eiusmod</p>
                    </div>
                    <div class="view-buttn mt-lg-5 mt-md-4 mt-3">
                        <a asp-controller="Home" asp-action="Contact" class="nav-link">Have a question?</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 about-imgs-txt">
                    <img src="~/images/g1.jpg" alt="news image" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
</div>
