@{
    ViewData["Title"] = "Service";
}

<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>
<!--//meta tags ends here-->
<!--booststrap-->
<link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all">
<!--//booststrap end-->
<!-- font-awesome icons -->
<link href="~/css/font-awesome.min.css" rel="stylesheet">
<!-- //font-awesome icons -->
<!--stylesheets-->
<link href="~/css/style.css" rel="stylesheet" type="text/css" media="all">
<!--//stylesheets-->
<!-- Web-Fonts -->
<link href="https://fonts.googleapis.com/css?family=Poiret+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Mada:200,300,400,500,600,700,900&amp;subset=arabic" rel="stylesheet">
<!-- //Web-Fonts -->

<div class="header-outs inner_page-banner " id="home">
    <section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="service">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3 bg-light mt-5">
            <h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3 mt-5">Our Services</h3>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 mt-lg-3 mt-3 service-grid-wthree text-center">
                    <div class="ser-Agriculture-grid">
                        <div class="about-icon mb-md-4 mb-3">
                            <span class="fa fa-pagelines" aria-hidden="true"></span>
                        </div>
                        <div class="ser-sevice-grid">
                            <h4 class="pb-3">Garden Care</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna<p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>