@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<section class="about py-lg-4 py-md-3 py-sm-3 py-3 bg-dark">
    <div class="container-fluid separate-bd">
        <h4 class="text-white">Change your account settings</h4>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
