@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="~/css/registerandlogin.css">

<!-- Sing in  Form -->
<div class="main" style="background: url(/images/reg-bg.jpg) no-repeat bottom; background-size: cover;">
    <section class="sign-in">
        <div class="mycontainer">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="~/images/signin-image.jpg" alt="sing up image"></figure>
                    <a asp-area="Identity" asp-page="/Account/Register" class="signup-image-link">Create an account</a>
                </div>
                <div class="signin-form">
                    <h2 class="form-title">Sign in</h2>
                    <form method="post" id="login-form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.UserName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input asp-for="Input.UserName" class="form-control" id="your_name" placeholder="Username" />
                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Password"><i class="zmdi zmdi-lock"></i></label>
                            <input asp-for="Input.Password" id="your_pass" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>*@
                        <div class="form-group form-button">
                            <input type="submit" id="signin" class="form-submit" value="Log in" />
                        </div>
                    </form>
                    <div class="social-login">
                        <span class="social-label">Or login with</span>
                        @{
                            if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                        for details on setting up this ASP.NET application to support logging in via external services.
                                    </p>
                                </div>
                            }
                            else
                            {
                                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                    <div>
                                        <p>
                                            @foreach (var provider in Model.ExternalLogins)
                                            {
                                                <div class="text-center">
                                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="display-flex-center zmdi zmdi-facebook"></i></button>
                                                </div>
                                            }
                                        </p>
                                    </div>
                                </form>
                            }
                        }
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/lib/jquery/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
