@model IEnumerable<FamilyDetailsViewModel>
@{
    ViewData["Title"] = "FamilyDetails";
}

<section class="about py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container-fluid separate-bd">
        @foreach (var item in Model)
        {
            <span>@item.Name - @item.Description</span>
        }
    </div>
</section>